.Main {
	display: grid;
	grid:
		". s" auto
		"f i" auto
		". i" 1fr
		/ auto 1fr;

	gap: var(--pad-full-step);

	.search {
		grid-area: s;

		input {
			font-size: 24px;
		}
	}

	.filters {
		grid-area: f;
	}

	.ModList {
		grid-area: i;
	}
}

@media (max-width: 660px) {
	.Main {
		grid:
			"s" auto
			"f" auto
			"i" 1fr
			/ 1fr;
	}
}
