.aria-tooltip {
	position: relative;
}

.aria-tooltip:after {
	position: absolute;
	content: attr(aria-label);
	color: #fff;
	background: #24252f;
	pointer-events: none;
	border-radius: 4px;
	padding: 0.5ch;
	z-index: 100;
	visibility: collapse;
}

.aria-tooltip:hover:after {
	visibility: visible;
}

.aria-tooltip.tip\:\^\<:after {
	margin-block-end: 3px;
	inset-block-end: 100%;
	inset-inline-end: 0;
}
