.AuthorsInfo {
	> main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--pad-full-step);
	}

	> header {
		margin-inline-start: var(--pad-half);
	}
}

.AuthorInfo {
	display: grid;
	grid:
		"a u" auto
		"a l" auto
		/ auto 1fr;

	gap: 0 var(--pad-half);

	.avatar {
		grid-area: span 2 / 1;
		border-radius: 100%;
	}

	.links {
		gap: 0;
		width: fit-content;
		color: var(--fg-muted);
	}
}
