.VersionsInfo {
}

.VersionInfo {
	.artifacts {
		ul {
			margin: var(--pad-half);
		}
	}

	.release {
		margin-inline-start: auto;
	}

	.dependencies {
		dl {
			font-family: "Courier New", Courier, monospace;
			margin: var(--pad-half) var(--pad-full);
			gap: var(--pad-half);
			font-size: 0.9rem;
		}
	}
}

.ArtifactInfo {
	dl {
		font-family: "Courier New", Courier, monospace;
		font-size: 0.9rem;
	}

	.name {
		font-weight: normal;
	}
}
