.ModInfo {
  contain: content;

  header {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
  }

  p {
    color: #fefefe;
  }

  h2 {
    margin: 0;
  }

  .author {
    font-size: 0.8rem;
    margin-left: 4px;
    color: #aaa;
    flex: 1;
    white-space: nowrap;

    a {
      color: #aaa;
    }
  }

  .category {
    color: #999;
  }

  .links {
    color: #b0bac5;
    a {
      color: inherit;
    }
  }
}

@media (max-width: 512px) {
  .ModInfo h2 {
    width: 100%;
  }
}
