.ModInfo {
	header {
		gap: 0.25rem;
		align-items: baseline;
	}

	.authors {
		gap: inherit;
		font-size: 0.8rem;
	}

	.category {
		align-self: center;
		margin-inline-start: auto;
	}

	.tags {
		margin-inline-start: auto;
	}

	.links {
		a {
			color: inherit;
		}
	}
}

/* todo: instead of a media query have smart flexing rules for this */
@media (max-width: 512px) {
	.ModInfo h2 {
		width: 100%;
	}
}
