.ModMeta {
  display: flex;
  flex-direction: column;
  gap: 6px;

  > header {
    display: flex;
    flex-direction: column;
  }

  h2,
  h3,
  h4,
  pre {
    margin: 0;
  }

  h2 {
    margin: 0 6px;
  }

  .metadata {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 3px 6px;
    margin: 0;

    dd {
      margin: 0;
      word-wrap: anywhere;
    }
  }

  .artifacts {
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
    width: fit-content;
    margin: 6px;
    padding-inline-start: 6px;

    max-width: 100%;

    hr {
      height: 0px;
      border-color: rgb(200 200 200 / 0.5);
    }
  }

  .dependencies {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 6px 12px;
  }

  .dependency {
    display: flex;
    width: fit-content;

    dd {
      margin-inline-start: 6px;
    }
  }

  .metadata {
    width: fit-content;
  }
}

.VersionMeta {
  display: flex;
  flex-direction: column;
  gap: 6px;

  > header {
    display: flex;
    gap: 6px;

    h3 {
      flex: 1;
      color: #eee;
    }

    a.release-url {
      color: #aaa;
    }
  }

  dl.metadata {
    color: #aaa;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
  }
}
