.VersionsInfo {
	h2 {
		margin-inline-start: var(--pad-half);
	}
}

.VersionInfo {
	.artifacts {
		ul {
			margin: var(--pad-half);
		}
	}

	.release {
		margin-inline-start: auto;
	}

	.dependency {
		font-family: var(--font-monospace);
		gap: var(--pad-half);
		font-size: 0.9rem;
	}

	:is(.dependencies, .conflicts) dl {
		margin: var(--pad-half);
	}
}

.ArtifactInfo {
	.info {
		font-family: var(--font-monospace);
		font-size: 0.9rem;

		display: grid;
		grid-template-columns: min-content 1fr;
		gap: 0 var(--pad-half);

		dd {
			margin: 0;
			word-break: break-all;
		}
	}

	.name {
		font-weight: normal;
	}
}
