:root {
	--font-basic: Arial, Helvetica, sans-serif;
	--font-monospace: "Courier New", Courier, monospace;

	--bg-1: #0c1014;
	--fg-1: #eee;
	--fg-muted: #b0bac5;
	--fg-faded: #999;

	--pad-half-step: 3px;
	--pad-half: 6px;
	--pad-full-step: 9px;
	--pad-full: 12px;

	--canvas-bg-1: rgb(50, 53, 62);
	--canvas-fg-1: #fff;

	/* resonite */
	--neutral-dark: #11151d;
	--neutral-mid: #2b2f35;
	--neutral-light: #e1e1e0;

	--hero-yellow: #f8f770;
	--hero-green: #59eb5c;
	--hero-red: #ff7676;
	--hero-purple: #ba64f2;
	--hero-cyan: #61d1fa;
	--hero-orange: #e69e50;

	--sub-yellow: #484a2c;
	--sub-green: #24512c;
	--sub-red: #5d323a;
	--sub-purple: #492f64;
	--sub-cyan: #284c5d;
	--sub-orange: #48392a;

	--dark-yellow: #2b2e26;
	--dark-green: #192d24;
	--dark-red: #1a1318;
	--dark-purple: #241e35;
	--dark-cyan: #1a2a36;
	--dark-orange: #292423;
}

.Root {
	font-family: var(--font-basic);
	background-color: var(--bg-1);
	color: var(--fg-1);
	padding: var(--pad-full);
}

.panel {
	max-width: 1080px;
	margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

/* todo: gap fix */
label,
.icon-label {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	color: inherit;
}

a:link {
	color: var(--hero-cyan);
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	/* modified cyan */
	color: lch(70% 60 300);
}

/* todo: css variables */
textarea,
input[type="search"],
.text-editor {
	inline-size: 100%;
	padding: var(--pad-half);

	background-color: #1e2125;
	transition: 0.075s;

	color: inherit;
	font-size: inherit;

	border: 2px solid #2c3036;
	border-radius: var(--pad-half);

	&:hover {
		background-color: #2d3137;
		border-color: #3e434b;
	}

	&:focus {
		border-color: #3e434b;
	}

	&::selection {
		background-color: color-mix(
			in srgb-linear,
			rgb(0 0 0 / 0),
			var(--hero-cyan)
		);
	}
}

.canvas {
	color: #fff;
	background-color: var(--canvas-bg-1);
	border-radius: var(--pad-half);
	padding: var(--pad-full);

	.canvas {
		background-color: rgb(36, 40, 53);

		.canvas {
			background-color: rgb(27, 31, 46);
		}
	}
}

/* layout-utilities */

.vertical-layout {
	display: flex;
	flex-direction: column;
	gap: var(--pad-full-step);
}

:is(ul, ol).vertical-layout {
	list-style: none;
	margin: 0;
	padding: 0;
}

.horizontal-layout {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--pad-half);
}

:is(ul, ol).horizontal-layout {
	list-style: none;
	margin: 0;
	padding: 0;
}

.horizontal-layout.join {
	--join-with: ", ";
	gap: 0;

	li + li::before {
		content: var(--join-with);
	}
}

/* only use if there's a single dt for each dd */
dl.grid-layout {
	display: grid;
	grid: 1fr / minmax(0px, min-content) 1fr;
	gap: 0 var(--pad-half);

	dd {
		margin: 0;
		word-break: break-all;
	}
}

/* scuffed scope */
:root {
	.muted {
		color: var(--fg-muted);
	}

	.faded {
		color: var(--fg-faded);
	}
}
