input[type="search"] {
  border-radius: 4px;
  color: a5a5a5;
  background-color: #1e2124;
  border: 2px solid #2d3137;
  color: #dddddd;
  padding: 6px;
  font-size: 24px;
  width: 100%;
}

main {
  display: grid;
  gap: 12px;

  search {
    width: 100%;
  }
}

a.icon {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: inherit;
}

.aria-tooltip {
  position: relative;

  &::after {
    position: absolute;
    content: attr(aria-label);

    color: #ffffff;
    background: #24252f;

    pointer-events: none;
    border-radius: 4px;

    padding: 0.5ch 0.5ch;

    z-index: 100;

    visibility: collapse;
  }

  &:hover::after {
    visibility: visible;
  }

  &.tip\:\^\<::after {
    margin-block-end: 3px;
    inset-block-end: 100%;
    inset-inline-end: 0;
  }
}
